@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#board {
   border: 10px solid green; 
   width: 307px;
   height: 307px;
}

#container {
  position: absolute;
}

#winnerDiv {
  background-color: yellow;
  border: 10px solid green; 
  width: 307px;
  height: 307px;
  position: absolute;
  top: 0;
  left:0;
}

#resetButton {
  margin-top: 10px;
  margin-left: 140px;
  position: absolute;
  top: 350px;
}

#playerTurnDiv {
  width: 326px;
  height: 50px;
  font-family: arial;
  border: 5px dotted black;
  margin-top: 20px;
  top: 400px;
  position: absolute;
  color: white;
}

#startScreen{
  width: 550px;
  height: 200px;
  /*border: 5px solid black;*/
  /*background-color: yellow;*/
  position: relative;
  /*margin-left: 30%;*/
}

.choice {
  color: white;
  width: 150px;
  height: 150px;
  float: left;  
  background-size: 150px 150px;
  text-align: center;
  margin: 10px;
  
}

.Addie {  
  background-image: url('../img/addie.png');
}

.Finnman {
  background-image: url('../img/finn.png');
}

.Coleman {
  background-image: url('../img/cole.png');
}

#clickChoice {
  clear: both;
  padding-top: 25px;
  text-align: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;
  position: relative;
}

.clear {
  clear: both;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
