body {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
}

#appBody {
  margin: auto;
  width: 50%;
  position: relative;
}

#board {
   /*border: 10px solid green; */
   width: 500px;
   height: 500px;
   position: relative;
}

#container {
  /*display: block;*/
  margin: auto;
  width: 60%;
}

#winnerDiv {
  /*background-color: yellow;*/
  /*border: 10px solid green;*/ 
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left:50px;
  color: white;

  /*margin: auto;
  width: 60%;*/
}

#playerTurnDiv {
  width: 500px;
  height: 50px;
  /*font-family: arial;
  border: 5px dotted black;*/
  margin-top: 20px;
  top: 400px;
  /*position: absolute;*/
  color: black;
  text-align: center;
}

#startScreen{
  width: 680px;
  height: 300px;
  /*border: 5px solid black;*/
  /*background-color: yellow;*/
  position: absolute;
  /*margin-left: 30%;*/
}

.choice {
  color: black;
  width: 200px;
  height: 200px;
  float: left;  
  background-size: 150px 150px;
  text-align: center;
  margin: 10px;
  background-size: contain;  
  background-repeat: no-repeat;
}

.Addie {  
  background-image: url('../img/addie.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Finnman {
  background-image: url('../img/finn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Coleman {
  background-image: url('../img/cole.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Katy {  
  background-image: url('../img/katy.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Matt {
  background-image: url('../img/matt.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Diesel {
  background-image: url('../img/diesel.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#clickChoice {
  clear: both;
  padding-top: 25px;
  text-align: center;
  height: 100px;
}

.cell {
  width: 150px;
  height: 150px;
  /*border: 2px solid black;*/
  margin: 5px;
  float: left;
  position: relative;
  background-color: rgba(255, 102, 102, 0.4);

}

.clear {
  clear: both;
}

#butt {
  left-margin: 400px;
  position: absolute;
  margin-top: 525px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a {
  cursor:default;
  margin-left: 250px;
}

/*@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1) rotate(45deg);}    
    50% {-webkit-transform: scale(1.6) rotate(45deg);}
    100% {-webkit-transform: scale(1) rotate(45deg);}
}*/
/*.lotus {padding: 300px 100px;}*/
/*.petal {
    background: #ff3399;
    -webkit-border-radius: 165px 10px 165px 10px;
    -moz-border-radius: 165px 10px 165px 10px;
    border-radius: 165px 10px 165px 10px;
    height: 200px;
    opacity:0.84;
    position: absolute;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    width: 200px;
}*/
.detox {
/*background: #ff3399;*/
/*-webkit-transform: rotate(45deg);*/
}

.detox:hover {
    opacity:1;
    z-index:+1;
    -webkit-animation: pulse 1s infinite;
}






