body {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
}

#appBody {
  margin: auto;
  width: 50%;
  position: relative;
}

#board {
   width: 500px;
   height: 500px;
   position: relative;
}

#container {
  margin: auto;
  width: 60%;
}

#winnerDiv {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left:50px;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

#playerTurnDiv {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  top: 400px;
  color: black;
  text-align: center;
}

#startScreen{
  width: 680px;
  height: 300px;
  position: absolute;
}

.choice {
  color: black;
  width: 200px;
  height: 200px;
  float: left;  
  background-size: 150px 150px;
  text-align: center;
  margin: 10px;
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: center; 
}

.Addie {  
  background-image: url('../img/addie.png');
}

.Finnman {
  background-image: url('../img/finn.png');
}

.Coleman {
  background-image: url('../img/cole.png');
}

.Katy {  
  background-image: url('../img/katy.png');
}

.Matt {
  background-image: url('../img/matt.png');
}

.Diesel {
  background-image: url('../img/diesel.png');
}

.Cat {
  background-image: url('../img/cat.png');
}

#clickChoice {
  clear: both;
  padding-top: 25px;
  text-align: center;
  height: 100px;
}

.cell {
  width: 150px;
  height: 150px;
  margin: 5px;
  float: left;
  position: relative;
  background-color: rgba(255, 102, 102, 0.4);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.clear {
  clear: both;
}

#butt {
  left-margin: 400px;
  position: absolute;
  margin-top: 525px;
}

a {
  cursor:default;
  margin-left: 250px;
}

.detox:hover {
    opacity:1;
    z-index:+1;
    -webkit-animation: pulse 1s infinite;
}