body {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  text-align: center;
}

#appBody {
  margin: auto;
  width: 50%;
  position: relative;
}

#board {
   /*border: 10px solid green; */
   width: 500px;
   height: 500px;
   position: relative;
}

#container {
  /*display: block;*/
  margin: auto;
  width: 60%;
}

#winnerDiv {
  /*background-color: yellow;*/
  /*border: 10px solid green;*/ 
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left:50px;

  /*margin: auto;
  width: 60%;*/
}

#playerTurnDiv {
  width: 500px;
  height: 50px;
  /*font-family: arial;
  border: 5px dotted black;*/
  margin-top: 20px;
  top: 400px;
  /*position: absolute;*/
  color: black;
  text-align: center;
}

#startScreen{
  width: 680px;
  height: 300px;
  /*border: 5px solid black;*/
  /*background-color: yellow;*/
  position: absolute;
  /*margin-left: 30%;*/
}

.choice {
  color: black;
  width: 200px;
  height: 200px;
  float: left;  
  background-size: 150px 150px;
  text-align: center;
  margin: 10px;
  background-size: contain;  
  background-repeat: no-repeat;
}

.Addie {  
  background-image: url('../img/addie.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Finnman {
  background-image: url('../img/finn.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Coleman {
  background-image: url('../img/cole.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#clickChoice {
  clear: both;
  padding-top: 25px;
  text-align: center;
  height: 100px;
}

.cell {
  width: 150px;
  height: 150px;
  /*border: 2px solid black;*/
  margin: 5px;
  float: left;
  position: relative;
  background-color: rgba(255, 102, 102, 0.4);

}

.clear {
  clear: both;
}

#butt {
  left-margin: 35%;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
