#board {
   border: 10px solid green; 
   width: 307px;
   height: 307px;
}

#container {
  position: absolute;
}

#winnerDiv {
  background-color: yellow;
  border: 10px solid green; 
  width: 307px;
  height: 307px;
  position: absolute;
  top: 0;
  left:0;
}

#resetButton {
  margin-top: 10px;
  margin-left: 140px;
  position: absolute;
  top: 350px;
}

#playerTurnDiv {
  width: 326px;
  height: 50px;
  font-family: arial;
  border: 5px dotted black;
  margin-top: 20px;
  top: 400px;
  position: absolute;
}

#startScreen{
  width: 450px;
  height: 150px;
  border: 5px solid black;
  background-color: yellow;
  position: absolute;
}

#Addie {
  width: 150px;
  height: 150px;
  float: left;  
  background-color: blue;
}

#Finnman {
  width: 150px;
  height: 150px;
  float: left;  
  background-color: green;
}

#Coleman {
  width: 150px;
  height: 150px;
  float: left;  
  background-color: orange;
}

#clickChoice {
  clear: both;
  font-family: arial;
  font-size: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;
  position: relative;
}

.clear {
  clear: both;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
